* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    align-items: center;
    padding: 1rem 2rem;
}

nav .logo {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    padding: 0.3rem 1rem;
}

nav ul li a {
    color: #444;
    font-size: 20px;
    padding: 4px 6px;
}

nav ul li a:hover{
    text-decoration: underline;
    color: #000;
}

/* ====   layout ===== */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 1rem auto;
}

.fa-left-long {
    color: black;
}

.projects-wrap {
    margin: 1rem auto;
}

.projects-wrap ul li a {
    font-size: 1.4rem;
    color: rgb(77, 77, 77);
} 

.projects-wrap ul li {
    margin-bottom: 0.5rem;
}
